<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PeminSpectrumAnalyser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>Office2019Colorful</value>
            </setting>
        </DXThemeManager>
        <PeminSpectrumAnalyser.Properties.Settings>
            <setting name="COMMANDRST" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*RST</string>
                        <string>(SET DefaultTimeout to 2000)</string>
                        <string>:FORMat:TRACe:DATA ASC,8</string>
                        <string>:FORMat:BORDer SWAPped</string>
                        <string>:INSTrument:SELect SA</string>
                        <string>:CONFigure:SANalyzer</string>
                        <string>:DISPlay:WINDow:TRACe:Y:SCALe:RLEVel -30</string>
                        <string>:SENSe:AVERage:COUNt 5</string>
                        <string>:DISPlay:WINDow:TRACe:Y:SCALe:PDIVision 7</string>
                        <string>:INITiate:CONTinuous 0</string>
                        <string>:TRACe1:TYPE WRITe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ADDRESS1" serializeAs="String">
                <value />
            </setting>
            <setting name="PORT1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ADDRESS2" serializeAs="String">
                <value />
            </setting>
            <setting name="PORT2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAGIC" serializeAs="String">
                <value>1</value>
            </setting>
        </PeminSpectrumAnalyser.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>